<button (click)="goHome()">Volver</button>
<form [formGroup]="ICreateWaterControlDTO" (ngSubmit)="onSubmit()">
    <section>
        <label for="totalHours">totalHours</label>
        <input type="text" formControlName="totalHours" placeholder="totalHours" name="totalHours" id="totalHours">
    </section>
    <section>
        <label for="amountWaterCaptured">amountWaterCaptured</label>
        <input type="text" formControlName="amountWaterCaptured" placeholder="amountWaterCaptured" name="amountWaterCaptured" id="amountWaterCaptured">
    </section>
    <section>
        <label for="amountWaterSupplied">amountWaterSupplied</label>
        <input type="text" formControlName="amountWaterSupplied" placeholder="amountWaterSupplied" name="amountWaterSupplied" id="amountWaterSupplied">
    </section>
    <section>
        <label for="aluminumSulfate">aluminumSulfate</label>
        <input type="text" formControlName="aluminumSulfate" placeholder="aluminumSulfate" name="aluminumSulfate" id="aluminumSulfate">
    </section>
    <section>
        <label for="sodiumHypochlorite">sodiumHypochlorite</label>
        <input type="text" formControlName="sodiumHypochlorite" placeholder="sodiumHypochlorite" name="sodiumHypochlorite" id="sodiumHypochlorite">
    </section>
    <section>
        <label for="chlorineGas">chlorineGas</label>
        <input type="text" formControlName="chlorineGas" placeholder="chlorineGas" name="chlorineGas" id="chlorineGas">
    </section>
    <section>
        <label for="particlesPerMillion">particlesPerMillion</label>
        <input type="text" formControlName="particlesPerMillion" placeholder="particlesPerMillion" name="particlesPerMillion" id="particlesPerMillion">
    </section>

    <button type="submit" [disabled]="!ICreateWaterControlDTO.valid" class="btn">
        Registrar
      </button>
</form>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Total Hours</th>
        <th>Amount Water Captured</th>
        <th>Amount Water Supplied</th>
        <th>Aluminum Sulfate</th>
        <th>Sodium Hypochlorite</th>
        <th>Chlorine Gas</th>
        <th>Particles Per Million</th>
        <th>National Identification Number</th>
        <th>ID Plant</th>
      </tr>
    </thead>
    <tbody>
      <style>
        tr:hover {
          background-color: rgb(155, 155, 155);
        }
      </style>
      <tr (click)="openDetailModal(activity)" *ngFor="let activity of iListWaterControlDTO">

        <td> {{activity.id }} </td>
        <td> {{activity.totalHours }} </td>
        <td> {{activity.amountWaterCaptured }} </td>
        <td> {{activity.amountWaterSupplied }} </td>
        <td> {{activity.aluminumSulfate }} </td>
        <td> {{activity.sodiumHypochlorite }} </td>
        <td> {{activity.chlorineGas }} </td>
        <td> {{activity.particlesPerMillion }} </td>
        <td> {{activity.nationalIdentificationNumber }} </td>
        <td> {{activity.userFullName }} </td>
        <td> {{activity.idPlant }} </td>
        <td> {{activity.namePlant }} </td>

      </tr>
    </tbody>
  </table>


  <div *ngIf="this.showModal" class="modal">
    <h2>Activity Details</h2>

    <p><strong> id:                           </strong></p> {{selectedActivity?.id }} 
    <p><strong> totalHours:                   </strong></p> {{selectedActivity?.totalHours }} 
    <p><strong> amountWaterCaptured:          </strong></p> {{selectedActivity?.amountWaterCaptured }} 
    <p><strong> amountWaterSupplied:          </strong></p> {{selectedActivity?.amountWaterSupplied }} 
    <p><strong> aluminumSulfate:              </strong></p> {{selectedActivity?.aluminumSulfate }} 
    <p><strong> sodiumHypochlorite:           </strong></p> {{selectedActivity?.sodiumHypochlorite }} 
    <p><strong> chlorineGas:                  </strong></p> {{selectedActivity?.chlorineGas }} 
    <p><strong> particlesPerMillion:          </strong></p> {{selectedActivity?.particlesPerMillion }} 
    <p><strong> nationalIdentificationNumber: </strong></p> {{selectedActivity?.nationalIdentificationNumber }} 
    <p><strong> userFullName:                 </strong></p> {{selectedActivity?.userFullName }} 
    <p><strong> idPlant:                      </strong></p> {{selectedActivity?.idPlant }} 
    <p><strong> namePlant:                    </strong></p> {{selectedActivity?.namePlant }} 
    
    <button (click)="closeModal()">Close</button>
  </div>