<header>
    <div class="logo">
      <a href="index.html"
        ><img
          src="../../../assets/images/escudo.png"
          alt="Escudo de Támesis"
          class="img"
      /></a>
      <a href="">
        <img src="../../../assets/images/logo.png" alt="Logo ESPD" class="img" />
      </a>
    </div>
    <div>
      <a href="inicioSesion.html">
        <img
          src="../../../assets/images/usuario.png"
          alt="Imagen de usuario"
          class="imgUsuario"
        />
      </a>
    </div>
  </header>
  <nav class="contenedorNav">
    <div class="imageNav">
      <img
        src="../../../assets/images/_GIO2934.jpg"
        alt="Imágen de Alcaldía de Támesis"
      />
      <img
        src="../../../assets/images/_GIO6437.jpg"
        alt="Imágen Casa de la Cultura Corregimiento San Pablo"
      />
    </div>
  </nav>
  <main>
    <div class="titulo">
      <h2>Planta de Tratamiento de Agua Potable</h2>
    </div>
    <div  class="contenedor-logos" style="display: flex; flex-direction: row;">
      <div *ngIf="isPtar" class="logo">
        <img src="../../../assets/images/controlAgua.png" alt="Logo 1" />
        <p (click)="waterControll()">Control de Agua</p>
      </div>
      <div *ngIf="isPtar" class="logo">
        <img src="../../../assets/images/registroActividades.png" alt="Logo 2" />
  
        <p (click)="activityRegister()">Registro de Actividades</p>
      </div>
      <div class="logo">
        <img src="../../../assets/images/controlJarras.png" alt="Logo 1" />
        <p (click)="jardFormat()">Formato de Jarras</p>
      </div>
      <div class="logo">
        <img src="../../../assets/images/formularioPTAP.png" alt="Logo 2" />
        <p (click)="ptapFormat()">Formato PTAP</p>
      </div>
      <button (click)="dashboard()">dashboard</button>
    </div>
  </main>
  
  <footer>
    <div class="partFooter">
      <a href="index.html"
        ><img src="../../../assets/images/escudo.png" alt=""
      /></a>
    </div>
    <div class="partFooter">
      <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
    </div>
    <div class="partFooter">
      <h4>Servicios</h4>
      <a href="index.html">Inicio</a>
      <a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/politicas/">
        Políticas
      </a>
      <a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/transparencia">
        Transparencia
      </a>
    </div>
    <div class="partFooter">
      <h4>Redes Sociales</h4>
      <div class="social-media">
        <a href="https://www.facebook.com/espd.tamesis">
          <img src="assets/images/facebook (1).png" alt="" />
        </a>
        <a href="https://www.youtube.com/channel/UC8mY0utSRe4ov3uCuZg_rEA">
          <img src="assets/images/youtube.png" alt="" />
        </a>
      </div>
    </div>
  </footer>
  