<button (click)="goHome()">Volver</button>
<body>

  <h1>Registro de Lavado y Mantenimiento de Filtros</h1>
  <form [formGroup]="ICreateActivityDTO" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td><label for="text">Actividad</label></td>
        <td>
          <select id="tipoDanio" formControlName="TypeActivity" title="TypeWater" required >
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="Lavado">Lavado</option>
            <option value="Mantenimiento de Filtros">Mantenimiento de Filtros</option>
            <option value="Lavado y mantenimiento de Filtros">Lavado y mantenimiento de Filtros</option>
          </select>
        </td>
      </tr>

      <tr>
        <td><label for="text">Observaciones</label></td>
        <td>
          <input
            type="text"
            formControlName="Observations"
            placeholder="Observations"
            id="text"
            name="estado"
            value="observaciones"
          />
        </td>
      </tr>
    </table>
    <div class="containerButton">
      <button type="submit" [disabled]="!ICreateActivityDTO.valid" class="btn">
        Registrar
      </button>
    </div>
  </form>

  <div class="containerBoton">
    <button class="button" id="generarPDF">
      hola
      <img src="assets/images/pdf.png" alt="" />
    </button>
    <button class="button" id="miFormulario">
      hola
      <img src="assets/images/excel.png" alt="" />
    </button>
  </div>

  <table *ngIf="this._availableViews.canSeeList('activityRegister')">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type of Activity</th>
        <th>Observations</th>
        <th>National Identification Number</th>
        <th>User Full Name</th>
        <th>Name of Plant</th>
        <th>Created Date</th>
        <th>Last Modified Date</th>
      </tr>
    </thead>
    <tbody>
      <style>
        tr:hover {
          background-color: rgb(155, 155, 155);
        }
      </style>
      <tr (click)="openDetailModal(activity)" *ngFor="let activity of ListActivityDTO" >
        <td>{{ activity.id }} </td>
        <td>{{ activity.typeActivity }}</td>
        <td>{{ activity.observations }}</td>
        <td>{{ activity.nationalIdentificationNumber }}</td>
        <td>{{ activity.userFullName }}</td>
        <td>{{ activity.namePlant }}</td>
        <td>{{ activity.createdDate }}</td>
        <td>{{ activity.lastModifiedDate }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="this.showModal" class="modal">
    <h2>Activity Details</h2>

    <section>
      <p><strong>ID:</strong> {{ selectedActivity?.id }}</p>
      <p><strong>Type of Activity:</strong> {{ selectedActivity?.typeActivity }}</p>
      <p><strong>Observations:</strong> {{ selectedActivity?.observations }}</p>
    </section>
      
    <button (click)="closeModal()">Close</button>
    <button (click)="downloadExcel()">Download Excel</button>
  </div>