<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../ptar/ptar.component.css">
    <title>Registro PTAR</title>
</head>
    <header>
        <div class="logo">
            <img src="/src/assets/images/escudo.png" alt="Logo 1" class="img">
            <img src="/src/assets/images/logo.png" alt="Logo 2" class="img">
        </div>
        <div>
            <a href="inicioSesion.html">
            <img src="/src/assets/images/usuario.png" alt="" class="imgUsuario">
            </a>
        </div>
    </header>

    <main>
        <nav class="contenedorNav">
            <div class="imageNav">
                <img src="/src/assets/images/_GIO2934.jpg" alt="">
                <img src="/src/assets/images/_GIO6437.jpg" alt="">
            </div>
            
        </nav>
          <main>
            <div class="titulo">
                <h2>Planta de Tratamiento de Agua Residual</h2>
            </div>

            <div class="contenedor-logos">
             
                <div class="logo">
                    <a href="formatoJarras.html"><img src="/src/assets/images/controlJarras.png" alt="Logo 1">
                    <p>Formato de Jarras</p></a>
                </div>
                <div class="logo">
                    <a href="formatoPTAP.html"><img src="/src/assets/images/formularioPTAP.png" alt="Logo 2">
                    <p>Formato PTAR</p></a>
                </div>
                <div class="logo">
                    <a href=""><img src="/src/assets/images/users.png" alt="Usuarios"></a>
                    <p>Usuarios</p>
                </div>
                <!-- Agrega más logos aquí -->
            </div>
    </main>

    <!-- Espacio para el Footer -->
    <footer>
        <div class="partFooter">
            <a href="index.html"><img src="/src/ssets/images/escudo.png" alt=""></a>
        </div>
        <div class="partFooter">
            <a href="index.html"><img src="/src/assets/images/logo.png" alt=""></a>
        </div>
        <div class="partFooter">
            <h4>Servicios</h4>
            <a href="index.html">Inicio</a>
            <a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/politicas/">
                Políticas</a>
            <a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/transparencia">
                Transparencia</a>
        </div>
        <div class="partFooter">
            <h4>Redes Sociales</h4>
            <div class="social-media">
                <a href="https://www.facebook.com/espd.tamesis">
                    <img src="/src/assets/images/facebook (1).png" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UC8mY0utSRe4ov3uCuZg_rEA">
                    <img src="/src/assets/images/youtube.png" alt="">
                </a>
            </div>
        </div>
    </footer>