<app-header></app-header>
    <main>
        <div class="container-list">
            <ul>
                <li class="li"><a href="https://www.gov.co/">
                    <img src="../../../../assets/images/Logo-Gov-Co.png" alt="" class="govco">
                </a>
            </li>
                <li class="li"><a href="index.html" class="a">Inicio</a></li>
                <li class="li"><a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/tema/tramites-y-servicios" class="a">
                    Servicio al Ciudadano</a></li>
                <li class="li"><a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/transparencia" class="a">
                    Información Pública</a></li>
                <li class="li"><a href="contacto.html" class="a">Contactanos</a></li>
            </ul>
        </div>
        <!--Aquí va el carrusel de imágenes-->
        <section>
            <div class="carousel-container">
            <div class="carousel">
                <img src="../../../../assets/images/_GIO0598.jpg" alt="" class="img">
                <img src="../../../../assets/images/_GIO0853.jpg" alt="" class="img">
                <img src="../../../../assets/images/_GIO0908.jpg" alt="" class="img">
                <img src="../../../../assets/images/_GIO0996.jpg" alt="" class="img">
            </div>
        </div>
        </section>

        <section class="noticias">
            <article class="noticia">
                <a href="http://www.serviciospublicos-tamesis-antioquia.gov.co/peticiones-quejas-reclamos">
                    <img src="../../../../assets/images/pqr.png" alt="" class="imgs">
                </a>
                <h2>Peticiones y Quejas</h2>   
            </article>
            <article (click)="renderAuthOptions()" class="noticia" >
                <img src="../../../../assets/images/damageImage.png" alt="" class="imgs">
                <h2>Reporte de Daños</h2>
            </article>
            <article (click)="renderAuthOptions()" class="noticia">
                <img src="../../../../assets/images/usuario.png" alt="" class="imgs">
                <h2>!!!Registrate¡¡¡</h2>
            </article>
            <!-- Agrega más noticias aquí -->
        </section>

        <section class="containerCarrusel">
            <div class="slide">
                <a href="https://www.colombiacompra.gov.co/">
                    <img src="../../../../assets/images/colombiaCompra.png" alt="">
                </a>
            </div>
            <div class="slide">
                <a href="https://home.micolombiadigital.gov.co/territorial/">
                    <img src="../../../../assets/images/colombiaDigital.png" alt="">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.dnp.gov.co/Prensa_/Podcast/Paginas/plan-nacional-de-desarrollo-colombia-potencia-mundial-de-la-vida.aspx">
                    <img src="../../../../assets/images/colombiaPotencia.jpg" alt="">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.cra.gov.co/">
                    <img src="../../../../assets/images/crap.jpg" alt="">
                </a>
            </div>
            <div class="slide">
                <a href="https://portalterritorial.dnp.gov.co/">
                    <img src="../../../../assets/images/portalTerritorial.png" alt="">
                </a>
            </div>  
            <div class="slide">
                <a href="https://horalegalnueva.inm.gov.co/">
                    <img src="../../../../assets/images/horalegal.png" alt="">
                </a>
            </div> 
        </section>
    </main>

<app-footer></app-footer>