<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar cuenta</title>
    <link rel="stylesheet" href="../password-reset/password-reset.component.css">
</head>
<body>
    <section class="form-main">
        <div class="form-content">
            <div class="box">
                <h3>Recuperar contraseña</h3>
                <form [formGroup]="passwordReset" (ngSubmit)="onSubmit()" class="google-form">
                    <section class="input-box">
                      <input type="text" name="email" id="email" formControlName="email" placeholder="email" class="input-control">
                    </section>
                    <button type="submit" [disabled]="!passwordReset.valid" class="btn ">Ingresar</button>

                </form>
            
                <p>¿No tienes una cuenta?<a href="../singn-up/singn-up.component.html" class="gradient-text">Crear cuenta</a></p>
                <button (click)="renderAuthOptions()" class="btn">Volver</button>
            </div>
        </div>
    </section>
</body>
</html>

