<header>
  <div class="logo">
    <a href="index.html"
      ><img
        src="../../../../assets/images/escudo.png"
        alt="Escudo de Támesis"
        class="img"
    /></a>
    <a href="index.html"
      ><img
        src="../../../../assets/images/logo.png"
        alt="Logo ESPD"
        class="img"
    /></a>
  </div>
  <div>
    <a href="inicioSesion.html">
      <img
        src="../../../../assets/images/usuario.png"
        alt="Imagen de usuario"
        class="imgUsuario"
      />
    </a>
  </div>
</header>
